.hero-img{
    height: 400px;
    width: 100%;
    background: url(../img/bannerhomepage.png) no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .hero-img{
        height: 620px;
        background: url(../img/banner-tablet.png) no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 1024px){
    .hero-img{
        background: url(../img/banner-desktop.png) no-repeat;
        background-size: cover;
    }
}