.offers-cards{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.card{
    color: var(--text-secondary-color);
    background-color: black;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    position: static;
    border-radius: 16px;
    text-align: center;
}

.card header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

 .card header p{
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

.japao{
    background: url(../img/japao.jpg) no-repeat center;
    background-size: cover;
}

.san-andreas{
    background: url(../img/san_andreas.jpg) no-repeat center;
    background-size: cover;
}

.paraiba{
    background: url(../img/paraiba.jpg) no-repeat center;
    background-size: cover;
}

.manaus{
    background: url(../img/manaus.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 768px){
    .offers-cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px){
    .card{
        width: 420px;
        height: 308px;
    }

    .card header h3{
        font-size: 48px;
    }

    .card header span{
        font-size: 32px;
    }
}

@media screen and (min-width: 1440px){
    .card{
        width: 588px;
    }
}

@media screen and (min-width: 1920px){
    .offers-cards{
        width: 1250px;
        margin: 0 auto;
    }
}