.card{
    color: var(--text-secondary-color);
    background-color: rgb(0, 255, 255);
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    padding: 24px 16px;
    position: static;
    border-radius: 16px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1.3rem;
}

.card header{
    display: block;
    background-color: transparent;
    position: static;
}

 p{
    font-size: 20px;
    font-weight: var(--text-weight);
}

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card header span{
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

.card.japao{
    background: url(../img/japao.jpg) no-repeat center;
    background-size: cover;
}